html, body {
    box-sizing: border-box;
    padding: 0!important;
    height: 100%;
}

#map {
  height: 95vh;
       
}

.row {
    padding: 0!important;
}

#loader {
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #ffffff url('../img/loadin_gif.gif') no-repeat center;
	z-index: 999;
}

#loader div {
    position: absolute;
    bottom: 30vh;
    left: 45vw;
    color: #91ca46;
}

#legend {
    text-align: center;
    padding-top: 5vh;
    margin-bottom: auto;
}

.singleCol {
    max-width: 750px;
    margin: 0 auto;
}

.accordion-button {
    font-size: inherit;
}

.accordion-button:not(.collapsed) {
    color: inherit;
    background: rgba(56, 181, 83, 1)!important;
    color: white!important;
}

.accordion-button:not(.collapsed)::after  {
    filter: brightness(00%) invert(70%);
}

.accordion-button:focus {
    box-shadow: inherit;
}


.borderLine {
    color: red;
}

.legendBody {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
  
#showInfoButton {
    display: none;
  }

  #showInfoButton, #toggleCitiesButton, #toggleAirportsButton, #toggleCapitalButton {
    
    padding-top: 5px;
    height: 40px; 
    width: 40px;  
  }
  #hideInfoButton {
      cursor: pointer!important;
  }
