html, body {
    box-sizing: border-box;
    padding: 0;
    height: 100%;
}

header {
    position: absolute;
    top: 5%;
    right: 5%
}

#map {
  height: 96vh;
    
   
}

.countryInfo {
    width: 400px;
    background-color: aliceblue;
}

/* #current-location {
    background-color: white;
    display: block;
} */

