html {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 5%;
    right: 5%
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  

}

.countryInfo {
    width: 400px;
    background-color: aliceblue;
}

#current-location {
    /* display: none */
    background-color: white;
    display: block;
}

